fieldset
  legend Registrant
  .row
    .control-group.span3
      label First Name
      input#firstname.span3
    .control-group.span3
      label Last Name
      input#lastname.span3
  .row
    .control-group.span6
      label Address
      textarea#address.span6(rows=3)
  .row
    .control-group.span3
      label City
      input#city.span3
    .control-group.span1
      label State
      input#state.span1
    .control-group.span1  
      label Zipcode
      input#zipcode.span1
  .row
    .control-group.span3
      label Email
      input#email.span3(type='email')
    .control-group.span3
      label Telephone
      input#phone.span3(type='tel')
  