fieldset
  legend Signup
  .row
    .control-group.span2
      label Division
      select#class.span2
        each divisionName, division in divisions
          option(value=division) #{divisionName}
    .control-group.span1
      label Year
      input#year.span1
    .control-group.span2
      label Paid
      input#paid(type='checkbox')