td.entry-cell 
  select.category
    for category in categories
      option #{category}
td.entry-cell
  input.didBring(type="checkbox", checked=didBring)
td.entry-cell
  input.styleChange(type="checkbox", checked=styleChange)
td.entry_cell
  input.entryNumber(type="text", value=entryNumber)
td.entry_cell
  .sync-icon.ui-icon.ui-icon-transferthick-e-w(style="visibility:hidden")