.ui-widget.error-widget
  .ui-state-error.ui-corner-all
    p
      span.ui-icon.ui-icon-alert
      <strong>Error:</strong> Entry Number must be a number.
table.table.table-condensed
  thead
    tr
      th.entry-cell Category
      th.entry-cell Brought
      th.entry-cell Category Changed
      th.entry-cell Entry Number
      th.entry-cell
a.btn.add-entry 
  i.icon-plus
  |  Add