td.entry-cell 
  select.category
    for category in categories
      option #{category}
td.entry-cell
  input.didBring(type="checkbox", checked=didBring)
td.entry-cell
  input.styleChange(type="checkbox", checked=styleChange)