table.table.table-condensed
  thead
    tr
      th.entry-cell Entry Number
      th.entry-cell Category
      th.entry-cell Brought
      th.entry-cell Category Changed
button.btn.add-entry 
  i.icon-plus
  |  Add