.registration-class.signup-cell Division: 
  td.entry-cell 
    select.division
      for division in divisions
        option #{division}
.registration-id.signup-cell Paid: 
  case paid
    when 0: span no
    default: span yes
- var entries_id = 'entries-' + id
.accordion-group
  .accordion-heading
    a.accordion-toggle(data-toggle='collapse', data-target='##{entries_id}') Entries
  .accordion-body.collapse(id='#{entries_id}')
    .accordion-inner
      .entries
        | Some Entry Text
