td.entry-cell 
  select.style
    for style in styles
      option #{style}
td.entry-cell
  input.didBring(type="checkbox", checked=didBring)
td.entry-cell
  input.styleChange(type="checkbox", checked=styleChange)