.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand(href='/') Cakeshow
      form.navbar-search.pull-right(autocomplete='off')
        input#search.search-query(name='search', placeholder='Search', data-provide='typeahead', autocomplete='off')
      ul.nav.pull-right
        li
          a.print Print
        li
          a.add Add
.container
  .row
    .well.span2
      #toc
    .content-column.span8
      .page-header
        h1.page-title
      #content
  hr
  footer
    p
      | &copy; Thomas Stephens 2012
      br
      | Icons courtesy 
      a(href='http://glyphicons.com') Glyphicons Free
.modal.hide#page-modal
  .modal-header
    button(type="button",class="close",data-dismiss="modal") x
    h3.modal-title
  .modal-body
  .modal-footer
    button.btn.modal-cancel(data-dismiss='modal')
script
  $(document).ready(function(){
    cakeshow = require('cakeshowClient');
    app = new cakeshow.Cakeshow();
    app.initialize(!{initialState});
  });
