.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand(href='/') Cakeshow
      form.navbar-search.pull-right
        input#search.search-query(name='search')
.container-fluid
  .row-fluid
    .well.span2
      #toc
    .content-column.span8
      .header.hero-unit
        h1= title
        p Welcome to #{title}
      #content
script
  $(document).ready(function(){
    cakeshow = require('cakeshowClient');
    app = new cakeshow.Cakeshow();
    app.initialize(!{initialState});
  });
