body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.search-fields {
  float: right;
}

div#toc {
}

ul#registrant-signups {
  list-style-type: none;
}

ul#registrant-signups li {
  padding-bottom: 2em;
}

.registrant-name {
  font-size: large;
  font-weight: bold;
}