@import 'public/stylesheets/bootstrap/bootstrap.less';
@import 'public/stylesheets/bootstrap/responsive.less';

@linkColor: #1C94C4;

body {
  padding-top: 60px;
}

.error-widget {
  margin: auto;
  width: 50%;
  display: none;
}

.ui-state-error {
  padding: 0.7em;
}

.ui-icon-alert {
  float: left;
  margin-right: 0.3em;
}

ul#registrant-signups {
  list-style-type: none;
  padding-left: 0;
}

ul#registrant-signups li {
  margin-bottom: 2em;
}

.registrant-name {
  font-size: large;
  font-weight: bold;
}
