h1= title
p Welcome to #{title}
div#registrant_list
script
  $(document).ready(function(){
    console.log('running!');
    cakeshow = require('cakeshowClient');
    app = new cakeshow.Cakeshow();
    app.initialize();
  });
