h1= title
p Welcome to #{title}
.search-fields
  label Search: 
  input#search
#toc
#content
script
  $(document).ready(function(){
    cakeshow = require('cakeshowClient');
    app = new cakeshow.Cakeshow();
    app.initialize(!{initialState});
  });
